.borderGradTop {
  background-color: rgba(18, 55, 55, 1);
}

.borderGradTop::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    cyan,
    cyan calc(100% - 74px),
    transparent calc(100% - 74px)
  );
}

.footerBox {
  position: absolute;
  top: -12px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-color: rgba(18, 55, 55, 1);
  border-top: 2px solid cyan;
}

.footerBox::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -9px;
  width: 4px;
  z-index: -1;
  height: 14px;
  background-color: white;

  transform: skew(-50deg);
  box-shadow: 0 0 2px 0 rgb(255 255 255 / 100%),
    0px 0px 5px 1px rgb(12 145 255 / 100%);
  z-index: 9;
}

.footerBox::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -12px;
  width: 18px;
  z-index: 0;
  height: 18px;
  background-color: rgba(18, 55, 55, 1);
  transform: skew(-50deg);
}
