.header {
      position: relative;
      height: 70vh;

      width: 100%;
      overflow: hidden;
}

.header video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100;
      min-height: 100;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translate(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
}

.header .wrapper {
      position: relative;
      z-index: 2;
}

.header .overlay {
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      background:linear-gradient(#222 5%, rgba(0, 255, 255, 0.2), #222 95%);
      z-index: 1;
}

.links {
      position: relative;
      top: -120px;
      z-index: 990;
}
