.info {
      position: relative;      
}

.info::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 10px;
      width: 2px;
      height: 100%;
      background-color:cyan;
}

 .bg-info{
      background: linear-gradient(#222 5%, rgba(33, 37, 41, 0.6), #222),
       url("./../../../Assets/grid.png"), url("./../../../Assets/sky.jpg");
      background-size: cover, 120px, cover;
      background-position: center, center, center;
}

.info-title {
      position: relative;
}

.info-title::before{
      position: absolute;
      content: "";
      top: 8px;
      left:-25px;
      width: 15px;
      height: 15px;
      background-color:cyan;
      border: 1px solid black;
      transform: rotate(45deg) ;
}

